.tag {
  @include flexbox($justifyContent: center, $alignItems: center);
  @include font(14px, 500, line-height(main));

  width: 100%;
  min-width: 80px;
  max-width: 115px;
  height: 25px;
  background: color(prim);
  border-radius: 10px;
  color: color(text-negative);

}