.tag {
  @include flexbox($justifyContent: center, $alignItems: center);
  @include font(14px, 500, line-height(main));
  // min-width: 80px;
  height: 25px;
  background: color(prim);
  border-radius: 10px;
  color: color(text-negative);
  padding: 0 1em;
}