.footer {
    @include flexbox($direction: column, $alignItems: center, $justifyContent: center);
    height: 209px;
    background: #000000;
    padding: 0 1em;
    margin-top: 5em;

    &__logo {
        margin-bottom: 3em;

        @include media-max("phone-down") {
            font-size: 18px;
        }
    }

    &__text {
        @include font(2.4em, 500, line-height(main));
        color: white;
    }

}