.header {
  @include flexbox($justifyContent: space-between, $alignItems: center);
  max-width: 1240px;
  margin: auto;
  margin-bottom: 5em;
  padding: 4em 2em;
  position: relative;



  &__navbar {
    @include flexbox();
    position: absolute;
    right: 0;
  }

  &__link {
    @include font(2.5em, 500, line-height(main));
    @include flexbox($alignItems: flex-end);
    text-align: right;
    color: color(prim);
    cursor: pointer;
    margin: 0 0.5em;
    padding: 0.5em 1em;

    &:hover {
      text-decoration: underline;
    }
  }
}


@media screen and (max-width:425px) {

  .header__link {
    padding: 0.5em 0.6em;
    margin: 0 0.4em;
  }

  .header__logo {
    img {
      width: 145px;
    }
  }
}