.header {
  @include flexbox($justifyContent: space-between, $alignItems: center);

  width: 100%;
  max-width: 1440px;
  margin-bottom: 50px;
  padding: 40px 0;
  position: relative;

  &__logo {}

  &__navbar {
    @include flexbox();
    position: absolute;
    right: 0;
  }

  &__link {
    @include font(24px, 500, line-height(main));
    /* or 34px */

    @include flexbox($alignItems: flex-end);

    text-align: right;
    text-decoration-line: underline;
    color: color(prim);
    cursor: pointer;

    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
  }
}