.error {
    @include flexbox($direction: column, $alignItems: center);
    color: color(prim);
    position: relative;
    height: 700px;

    &__404 {
        @include font(288px, 700, line-height(main));

        @include media-max("tablet-up") {
            font-size: 180px;
        }

        @include media-max("phone-down") {
            font-size: 100px;
        }
    }

    &__oups {
        @include font(36px, 500, line-height(main));
        text-align: center;

        @include media-max("phone-down") {
            font-size: 18px;
        }
    }

    &__home {


        @include font(18px, 500, line-height(main));
        position: absolute;
        bottom: 100px;
        text-decoration: underline;

        @include media-max("phone-down") {
            font-size: 14px;
        }
    }
}